.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.footer-image {
  width: 328px;
  height: 165px;
  object-fit: cover;
}
